{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

help pliz

{# <img src="https://cdn.prod.website-files.com/5f9348b443200f462d975d45/5f95a73862f66d62b7240578_Whaller-interface.jpeg" width="100%"></img> #}

<div {{ react_component('Hello', { fullName: 'Fabien' }) }}>
</div>

{% endblock %}
